.product-box {
    position: sticky;
    top: 0;
}

.product-item {
    width: 100%;
    height: 400px;
}

.product-item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.dot-product {
    /* display: flex !important; */
    display: grid !important;
    /* justify-content: center; */
    /* align-items: center; */
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 20px;
    margin-top: 14px;
    cursor: pointer;
    overflow: hidden;
}

.dot-product ul {
    background-color: rgba(0, 0, 0, 0.923);
}