.sp-box {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.sp-box .sp-left {
    width: 50%;
}

.sp-box .sp-right {
    width: 50%;
}