footer {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.f-logo {
    font-size: 34px;
    margin-right: 20px;
    font-weight: 400;
    line-height: 80px;
}

footer p {
    font-size: 13px;
    color: var(--light-text-color);
    margin-bottom: 10px;
}


.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


.social-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    background-color: var(--border-color);
}

.social-link a i:hover {
    scale: 1.1;
    color: #6D76EC;
}